/*Estilo de texto*/
body {
    color: white;
    background-color: #475867;
    font-family: verdana;
    font-size: 18px;
}
.strong-color strong {
    color: rgb(255, 204, 109);
}
h4 {
    font-size: 55px;
    font-family: segoe ui;
    text-shadow: 4px 4px 0px black;
}
.container {
    border: solid 2px white;
    display: flex;
    width: 100%;
    height: max-content;
}
.column {
    border: solid 2px rgb(0, 255, 34);
    width: 50%;
    height: max-content;
}


/*Barra de Navegación*/
#nav-bar {
    display: flex;
    width: 100%;
    height: 55px;
    background: linear-gradient(to right, #414f5c  10%, #FF9800 90%);
    border-bottom: solid 4px white;
}
#nav-container-left {
    width: 20%;
    height: 55px;
}

#acerca-de {
    color: white;
    cursor: pointer;
    margin: 0 0px 50px 50px;
}
#info-acerca-de {
    width: 400px;
    background-color: #414f5c;
    text-align: center;
}

#nav-container-right {
    width: 80%;
    height: 55px;
    
}
.nav-elements li{
    color: white;
    display: inline-block;
    margin: 0 10px 0 10px;
    padding-left: 50px;
    text-decoration: none;
}

#title-img {
    z-index: -5;
    position: relative;
    left: 320px;
    width: 600px;
    margin: 0px 0px 10px 0;
    
}

/*Elementos del Video*/
.div-phantom {
    z-index: -5;
    width: 55%;
    height: 420px;
    color: black;
    font-family: Tahoma;
    font-size: 27px;
    padding: 70px 0 0 35px;
    background-color: #FF9800;
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
}

.video {
    position: absolute;
    right: 0;
    top: 325px;
    width: 60%;
    z-index: -10;
}

/*Sección 1: Historia*/
.subtitle-1 {
    text-align: center;
}
#sub-container-img {
    flex-direction: row;
    border-radius: 15px;
    width: 100%;
    height: max-content;
}
.column-container {
    flex-direction: column;
    width: 50%;
    height: 100%;
}

#container-collage {
    flex-direction: row;
    text-align: center;
    color: black;
    width: 100%;
    height: max-content;
    padding: 10px 1px 0 1px;
}

#div-elemet-1 {
    display: inline-block;
    width: 48%;
    height: 50%;
    background-color: #FF9800;
    border-radius: 8px;
}
#div-elemet-2 {
    display: inline-block;
    width: 48%;
    height: 50%;
    background-color: rgb(35, 35, 255);
    border-radius: 8px;
}
#div-elemet-3 {
    background-color: yellow;
    width: 96%;
    height: 60px;
    margin: 0 0 0 10px;
    border-radius: 8px;
}
#container-icon-row {
    margin: 25px 0 0 0;
    width: 100%;
    height: max-content;
    
}
.icon-row {
    cursor: pointer;
    width: 40%;
    margin: 30px 0 0 150px;
}

/*Sección 2: Personajes*/
.img2 {
    width: 100%;
    border-radius: 40px;
    z-index: -5;
}
.subtitle-2 {
    position: relative;
    top: 330px;
    left: 70px;
}

#column {
    flex-direction: column;
}

#div-container-geometryc {
    z-index: 20;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 400px;
}
#div-phantom-2 {
    background-color: #FF9800;
    color: black;
    width: 400px;
    height: 400px;
    margin: 50px 50px 0 50px;
    clip-path: polygon(0 25%, 50% 0%, 100% 25%, 100% 75%, 50% 100%, 0 75%);
}
.icon-style {
    z-index: 1;
    position: relative;
    left: 100px;
    top: 50px;
    width: 200px;
    height: 200px;
}

.text-icon {
    z-index: 2;
    text-align: center;
    position: relative;
    top: 50px;
    font-family: verdana;
    font-size: 20px;
    font-weight: bold;
}


/*Sección 3: Influencia Cultural*/
.space-container {
    margin: 100px 0 0 0;
}

.block-element {
    border: solid 2px rgb(0, 113, 141);
    width: 100%;
    height: 50%;
}

#div-phantom-sub-3 {
    z-index: -10;
    background-color: #FF9800;
    width: 100%;
    height: 200px;
    margin: 70px 0 0 0;
    padding: 1px 0 0 10px;
    border-bottom: solid 8px black; 
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
}

.content-sub-3 {
    font-size: 20px;
    margin: 100px 0px 60px 10px;
}

#dragon-ball-friends {
    width: 100%;
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
}
#icon-section-3 {
    width: 35%;
    margin: 60px 0 0 190px;
}

/*Sección 4: Animación y Producción*/
#subtitle-4 {
    text-align: center;
    
}
.img-section-4 {
    margin: 0 0 0 110px;
    width: 60%;
    border-radius: 15px;
}
.float-img {
    margin: 10px 20px 0 0;
    width: 105px;
    float: right;
}



.content-sub-4 {
    font-size: 10px;
}